.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #AAA; }
.CodeMirror-activeline-background{background-color:#F0F1F0}
.collaps-bar {padding-top:25%;width:10px;border: 0px solid black;overflowï¼šhidden;word-break: break-all;word-wrap: break-word;cursor:pointer;background-color: #363636;color:white;flex-basis:auto;flex-grow:0;font-size:11px;}
.collaps-bar:hover{background-color: #686868;}
a.in-brand {font-family:"SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;font-size:1.2em}
.in-icon {font-size:1.5em;margin-right:6px;padding-left:1px;}
.in-small-icon {font-size:1.2em;}
.in-hidden {display:none;}
.progress.is-refresh {background-color:#3D9977}
.progress.is-refresh:indeterminate { background-image: linear-gradient(to right,#3D9977 30%,#dbdbdb 30%);}
.button.is-refresh {background-color:#2D8967}
.button.is-refresh:hover {background-color:#3D9977;}
.button.is-refresh[disabled]{background-color:#3D9977;}
.in-preview-settings-menu {border-left:1px solid #e5e5e5;padding:0.43em 0.5em;margin-right:-0.5em;}
.in-preview-settings-menu-loading {border-left:1px solid #3D9977;padding:0.43em 0.5em;margin-right:-0.5em;}
.is-loading.in-preview-settings-menu {border-left:1px solid #e5e5e5;padding:0.43em 0.5em;margin-right:-0.5em;}
.in-div-page-container {text-align:center;vertical-align:middle;margin:0 auto 25px;padding:0;display:block;width:100%;min-height:100%;border:1px solid #AFAFAF;background-color:white;box-shadow: 0 0 8px 2px #9F9F9F;}
.in-small-font {font-size:0.8em}
.in-medium-font {font-size:1em}
.in-large-font {font-size:1.5em}
#in-refresh-preview {margin-left:1em}
.spinner{height:100px;width: 100px;animation: rotate 0.6s infinite linear;border-radius:50%;border:5px solid #FFFFFF;border-right-color:transparent;} 
@keyframes rotate{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {background-color:#ABABAB;border-color:#AAAAAA}
.is-disabled{pointer-events:none;opacity:.65;}
#in-juben-text{margin-left:1em;font-size:1em;width:90%;line-height:1.5}
#in-ec-pdf{border-width:0;background-color:#f5f5f5;cursor:pointer;}
#in-preview-container{width:100%;background-color:#cccccc;padding:0px;overflow-y:scroll;overflow-x:hidden;}
#in-progress-bar-parent{width:100%;position: absolute;margin:0;background-color:#cccccc;}
#pdf-container{text-align: center;vertical-align: middle;width:100%;min-height:100%;border:0px solid black;background-color:#cccccc;padding:10px 20px 0;}
#in-edit-panel .navbar-item, .navbar-link {color:#f5f5f5;background-color:#363636}
#in-edit-panel .navbar.is-dark {background-color:#363636}
#in-edit-panel .checkbox:hover, .radio:hover {color:#f5f5f5}
#in-brand {background-color:#363636}
.in-brand:hover{color:#f5f5f5}
.navbar-divider{background-color:#515151}
.in-preview-blank{font-size:22em;color:#ddd}
.in-rotate-180-before:before{transform: rotate(180deg)}
#in-collaps-arrow i {font-size:1.3em;padding-left:0.1em}
#in-preview-navbar .button.is-success{border-color:#2a6f56}
#in-preview-navbar .navbar-dropdown.is-up{bottom:100%;border-bottom:2px solid #dbdbdb;border-top-left-radius:6px;border-top-right-radius:6px;box-shadow:0 0 8px 5px rgba(10,10,10,.1);}
#in-preview-navbar .navbar-dropdown.is-down{top:100%;border-top:2px solid #dbdbdb;border-bottom-left-radius:6px;border-bottom-right-radius:6px;box-shadow:0 8px 8px rgba(10,10,10,.1);}
#in-preview-panel .navbar.is-light.in-nav-active{background-color:#666666}
@media screen and (min-width:200px){#in-preview-navbar.navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {display: block} #in-preview-navbar .navbar-dropdown{background-color: #fff;display:none;font-size:.875rem;left:0;min-width:100%;position:absolute;z-index:20;}}
@media screen and (max-width:350px){#in-preview-navbar .navbar-dropdown.is-up.in-is-extended{min-width:135%;}}
@media screen and (max-width:768px){.is-hidden-narrow-touch{display:none !important} #in-edit-panel nav.navbar{min-height:auto} #in-edit-panel .navbar-menu{padding:0} #in-preview-navbar{padding-left:1.2rem} #in-save{padding-left:0} .in-preview-blank{font-size:16em} #in-preview-panel .navbar.is-light{background-color:#363636} #in-preview-navbar .button.is-refresh[disabled]{color:#fefefe;background-color:#80c5ac} #in-save .button[disabled]{color:#9a9a9a} #in-preview-settings-menu{padding-top:0.23em;padding-bottom:0.28em;} #in-refresh-preview{margin-left:0}}
@media screen and (max-width:300px){#in-preview-navbar{padding-left:0.5rem;padding-right:0;} #in-save{padding-left:0}}
@media screen and (min-width:769px) {#in-refresh-preview-txt{font-weight:bold}}
@media screen and (min-width:769px) and (max-width:1087px){#in-edit-panel nav.navbar{min-height:auto} #in-edit-panel .navbar-menu{padding-bottom:0}}
@media screen and (max-width:1087px){.navbar-in-touch{float:left} #in-preview-panel .navbar-menu{box-shadow:none;padding:0} #in-edit-panel .in-brand-touch.navbar-link::after{transform: rotate(135deg)} #in-edit-panel .navbar-link:not(.is-arrowless)::after{border-color:#f5f5f5} .navbar-menu{background-color:#363636} #in-navbar-dropdown-menu {border-top:1px solid #515151}}
@media screen and (min-width:1088px){#in-edit-panel .navbar-dropdown{background-color:#363636;border-top-color:#515151}}
